@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply focus:outline-none
    }

    .input-form {
        @apply input rounded-xl bg-white border border-[rgba(240,_242,_245,_1)] shadow-[0px_1px_2px_0px_rgba(88,_98,_131,_0.2)] p-4 placeholder:text-brand-gray text-sm leading-4 focus:shadow-none transition-all duration-300 ease-in-out focus-within:shadow-none w-full
    }

    .input-checkbox {
        @apply form-checkbox size-5 rounded-md border border-brand-gray/30 cursor-pointer focus:ring-brand-gray/20
    }

    .custom-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .custom-scrollbar::-webkit-scrollbar {
        @apply hidden;
    }

    .overflow-y-auto {
        -webkit-overflow-scrolling: touch;
    }
}
